<div class="game-list vertical">

  <app-game-list-filter></app-game-list-filter>

  <section class="card-container horizontal center">

    <div *ngIf="gameIsLoading;else no_games">

      <div class="card" *ngFor="let game of games" [style.height.px]="cardWidth">

        <div class="card-top space-between">
          <div class="card-top-left vertical">
            <p class="title"><b>{{game.nom}}</b></p>
            <p><b>Type :</b> {{game.type}}</p>
          </div>
          <p class="note"><b>Note :</b> {{game.note}} / 20</p>
        </div>
        <img [src]="game.image" />
        <div class="card-body vertical">
          <p class="description"><b>Description :</b> {{shortDescription(game.description)}}</p>

          <div class="size-button">
            <Button (click)="handleCardSize('-')">-</Button>
            <Button (click)="handleCardSize('0')">Reset</Button>
            <Button (click)="handleCardSize('+')">+</Button>
          </div>

          <app-button-group-card class="card-bottom" (click)="handleButton(game.nom, $event)">
          </app-button-group-card>
        </div>

      </div>
    </div>
    <ng-template #no_games>
      <!-- <mat-spinner></mat-spinner> -->
      Chargement...
    </ng-template>

  </section>

</div>