.game-list {
  width: 100vw;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  margin: 12px;
  min-height: 100%;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 4px black;
}

.card:hover {
  box-shadow: 2px 2px 10px black;
}

.card-top,
.card-body {
  padding: 10px;
}

.card-body {
  padding: 10px;
  margin-bottom:32px;
}

.card-bottom {
  bottom: 0;
  height: 32px ;
  position: absolute;
}

.card-top-left {
  text-align: start;
}

.card .title {
  font-size: 24px;
}

.note {
  margin: auto 0 auto 0;
}

.card img {
  flex: auto;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.card .description {
  text-align: start;
  height: 100%;
}

.mt-auto {
  margin-top: auto;
}